name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - run: pnpm install --frozen-lockfile
      - run: pnpm run build

      - run: pnpx @infomiho/buzz-cli deploy ./dist --subdomain spanish --server https://static.miho.dev
        env:
          BUZZ_TOKEN: ${{ secrets.BUZZ_TOKEN }}
